<launch>
  <node
    pkg="localization_package"
    type="robot.py"
    name="robot" 
    output="screen"
  />
  <node
    pkg="localization_package"
    type="image_subscriber.py"
    name="image_subscriber" 
    output="screen"
  />
  <node
    pkg="localization_package"
    type="image_publisher.py"
    name="image_publisher"
    output="screen"
  />
  <node
    pkg="localization_package"
    type="listener.py"
    name="listener"
    output="screen"
  />
  <!-- <arg name="port" default="/dev/ttyACM0" />
  <arg name="baud" default="57600" />
  
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="port" value="$(arg port)" />
    <param name="baud" value="$(arg baud)" />
  </node> -->
</launch> 