<launch>
    <set_env name="GZ_SIM_RESOURCE_PATH" value="$(find-pkg-share luna_urdf)/luna_sdf/"/>
    <include file="$(find-pkg-share ros_gz_sim)/launch/gz_sim.launch.py">
        <arg name="world" value="empty.sdf" />
    </include>
    <include file="$(find-pkg-share ros_gz_sim)/launch/gz_spawn_model.launch.py">
        <arg name="world" value="empty" />
        <arg name="file" value="$(find-pkg-share luna_urdf)/luna_sdf/robot.sdf" />
        <arg name="entity_name" value="lunabot" />
        <arg name="z" value="0.5" />
    </include>
    <!-- <node pkg="ros_gz_bridge" exec="parameter_bridge" -->
    <node pkg="tf2_ros" exec="static_transform_publisher" name="robot_odom_tf" args="--frame-id axis --child-frame-id robot" />
    <node pkg="tf2_ros" exec="static_transform_publisher" name="robot_baselink_tf" args="--frame-id robot --child-frame-id base_link" />
    <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher">
        <param name="robot_description" value="$(command 'cat $(find-pkg-share luna_urdf)/luna_urdf/robot.urdf')" />
    </node>
    <node pkg="lunabotdemo" exec="state_publisher" name="state_publisher" on_exit="shutdown" />
    <node pkg="rviz2" exec="rviz2" name="rviz2" on_exit="shutdown" args="-d $(find-pkg-share lunabotdemo)/demo.rviz" />
</launch>