<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find luna_rviz)/urdf/robot.urdf'"/>
  <node
    pkg="robot_package"
    type="listener.py"
    name="listener" 
    output="screen"
  />
  <node 
    type="rviz" 
    name="rviz" 
    pkg="rviz" 
    args="-d $(find luna_rviz)/rviz/luna_config.rviz" 
  />
  <node
    pkg="localization_package"
    type="image_subscriber.py"
    name="image_subscriber" 
    output="screen"
  />
  <node
    pkg="mapping_package"
    type="map.py"
    name="map" 
    output="screen"
  />
  <node
    pkg="navigator_package"
    type="pathfinder.py"
    name="pathfinder"
    output="screen"
  />
  <node
    pkg="navigator_package"
    type="path_follower.py"
    name="path_follower"
    output="screen"
  />
  <node 
    pkg="control_package"
    type="e_stop.py"
    name="e_stop"
    output="screen"
  />

</launch> 