<?xml version="1.0"?>
<robot name="prototype">
   <material name="white">
      <color rgba="1 1 1 1"/>
   </material>
   <link name="base_link">
     <visual>
      <origin rpy="0 0 1.5706" xyz="0 0 .2286"/>
       <geometry>
         <mesh 
          filename="file:///home/lunabot/ros2_ws/src/urdf_lunabot/meshes/prototype_drivetrain.stl"
          scale=" 0.001 0.001 0.001"
         />
       </geometry>
       <material name="white"/>
     </visual>
   </link>
</robot>